g.elm {
    pointer-events: bounding-box;
}

rect {
    fill: none;
    stroke: black;
    stroke-width: .3;
}

text {
    font-family: helvetica, sans-serif;
    /*
    stroke: black;
    stroke-width: 0.2px;
    */
}

text.etikedo {
    font-size: 4px;
    text-anchor: middle;
    dominant-baseline: central;
}

text.smb {
    font-size: 4.8px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
}

text.nro {
    font-size: 2.4px;
    font-weight: bold;
    dominant-baseline: hanging;
}

text.eneg {
    font-size: 2.4px;
    dominant-baseline: text-bottom;
}

line.l_xidoj {
    stroke: black;
    stroke-width: 0.6;
}