.lab_fono {
    fill: #0C3742;
}

.butono rect {
    fill: darkcyan;
    fill-opacity: 1;
    stroke: white;
    stroke-width: 0.5;
}
.butono text {
    dominant-baseline: middle;
    fill: white;
    font-size: 10px;
}

.butono.premita rect {
    fill: #004b4b;
}


.tuŝebla {
    cursor: pointer;
}

.kaŝita {
    display: none;
}

.ujo path {
    stroke: black;
    stroke-width: 1;
}

.konusflakono .vitro {
    stroke: black;
    stroke-width: 1.0;
    fill: url(#vitro_konusa);
}

.likvo {
    fill: #88aaff;
    fill-opacity: 0.3;
}

.sondilo .bastono {
    fill: #282830;
    stroke: #111;
}

.sondilo .monitoro rect {
    stroke: #913c22;
    stroke-width: 2;
    fill: lightgoldenrodyellow;
}

.sondilo text {
    font-size: 12px;
    font-weight: bold;
    dominant-baseline: middle;
}

.indikilo path,
.indikilo circle {
    stroke: #224;
    stroke-width: 1.0;
}

.indikilo text {
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 9px;
    fill: #222;
    font-weight: bold;
}

.indikilo .etikedo {
    fill: #eee;
    font-size: 18px;
    font-weight: normal;
    fill-opacity: 1;
}

.diagramo .fono {
    fill: #fafafa;
}

.diagramo .skalo {
    stroke: black;
    stroke-width: 0.5;
}

.diagramo .etikedo {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    fill: black;
}

.diagramo .etikedo.x {
    text-anchor: end;
}

.diagramo .etikedo.y {
    dominant-baseline: hanging;
    text-anchor: start;
}

.diagramo .punkto {
    stroke-width: 0.3;
    stroke: black;
}

.krano {
    fill: chocolate;
}

#guto {
    stroke: gray;
    stroke-width: 0.5;
    stroke-dasharray: 5 10;
    fill: #8cd;
    fill-opacity: 0.6;
}

.vitro {
    /*fill: none;*/
    stroke: black;
    stroke-width: 1.0;
    fill: url(#vitro);
}

.indikilo .papero {
    fill: #ffe;
    stroke: black;
    stroke-width: 0.2;
}

/*
.indikilo .makulo {
    stroke: none;
    fill: gray;
    fill-opacity: 0.2;
}
*/

.ombro {
    fill: url(#r_gradiento_ombro);
}

.etikedo {
    fill: white;
    fill-opacity: 0.5;
}

.ujo text {
    font-size: 9px;
}

.ujo tspan:first-child {
    font-stretch: extra-condensed;
    font-weight: bold;
}