/*
  svg {
    stroke-width: 0px;
    background-color: lightblue;
  }
  */

/* koloroj vd. http://jmol.sourceforge.net/jscolors/#color_H ... */

g.H * {
fill: #777777;
}

g.O * {
fill: #FF0D0D;
}

g.N * {
fill: #3050F8;
}

g.C * {
fill: #222222;
}

text {
    font-family: helvetica, sans-serif;
    /*
    stroke: black;
    stroke-width: 0.2px;
    */
    font-size: 8px; /* iom pli malgranda ol kutima 10px pro aldono de ŝargoj! */
    text-anchor: middle;
    dominant-baseline: central;
}
tspan.sup {
    font-size: 4px;
    font-weight: bold;
}
text.o-nro {
    font-size: 4px;
    fill: darkblue;
}
circle {
    fill: black;
}
line {
    stroke: black;
    stroke-width: .6;
}
line.hponto {
    stroke: black;
    stroke-linecap: round;
    stroke-dasharray: .2,1.8;
    stroke-width: .6;
}

path.akojno {
    stroke: black;
    stroke-linecap: round;
    stroke-width: .4;
    fill: black;
}


path.mkojno {
    fill: gray; /* url(#strie); ajnas ke referenco al SVG-pattern necesas
    esti en la sama dosiero...? */
}

line.e-atr,
path.e-atr {
    stroke: red;
    stroke-width: .3;
    stroke-dasharray: 1 .4;
    fill: none;
}


.shargo circle, .shargo path {
    fill: none;
    stroke: currentColor;
    stroke-dasharray: 1 0;
    stroke-width: .3;
}
